In [2]:
import tabula 
import os 
import re 
import pandas as pd
import numpy as np

In [3]:
race = sorted([i for i in os.listdir() if i.endswith('.pdf')])

In [58]:
dfs = tabula.read_pdf(race[3], pages = 2)
race1 = ['Non-Hispanic White']*5+ ['Non-Hispanic Black']*5+['Mexican American']*5+['All Hispanic']*5
race2 = ['Non-Hispanic White']*5+ ['Non-Hispanic Black']*5+['Non-Hispanic Asian']*5+['All Hispanic']*5

In [59]:
nutrition1 = ['food energy(kcal)', 'protein(g)', 'carbohydrate(g)', 'total sugars(g)','dietary fiber(g)',\
             'total fat(g)', 'saturated fat(g)', 'monosaturated fat(g)', 'polysaturated fat(g)']

In [60]:
def reorganising_temp(df): 
    
    df['temp'] = ['']*df.shape[0]
    for i in range(df.shape[1]): 
        df['temp']+=df[df.columns[i]]
    useless = [i for i in range(0,df.shape[1]-1)]
    df.drop(df.columns[useless], axis = 1, inplace = True)
    df.dropna(inplace = True)
    df.temp = df.temp.apply(lambda x: x.replace('(', ' '))
    df.temp = df.temp.apply(lambda x: x.replace(')', ' '))
    df.temp = df.temp.apply(lambda x: x.replace('*', ' '))
    df.drop(df.index[[range(0,3)]], inplace = True)
    
    return df

In [61]:
def allocateNumbers(df, yr):
    
    for i in range(0, len(nutrition1)): 
        df[nutrition1[i]] = df['temp'].apply(lambda x: x.split('... ')[1].split()[i*2+1])
        
    df['age'] = df[df.columns[0]].apply(lambda x: x.split('... ')[0].rstrip('...'))
    df['year'] = [yr]*df.shape[0]
    if int(yr.split('-')[0])<2011: 
        lst = race1
    else: lst = race2
    df['race'] = lst
    df.drop(['temp'], axis = 1, inplace = True)
    
    return df

In [62]:
raceNutrition =[]
for i in range(3, len(race)): 
    year = race[i].split('_')[0]+'-'+str(int(race[i].split('_')[0])+1)
    dfs = tabula.read_pdf(race[i], pages = 1)
    tempdf = reorganising_temp(dfs[0])
    tempdf = allocateNumbers(tempdf,year)
    raceNutrition.append(tempdf)

/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [63]:
raceNutrition1 = pd.concat(raceNutrition)

In [64]:
nutrition2 = ['Cholesterol(mg)', 'retinol (milg)', 'vitaminA (milg)', 'alphacarotene (milg)',\
             'betacarotene (milg)', 'beta-cryptoxanthin (milg)', 'lycopene (milg)', \
             'lutein+zeaxanthin (milg)', 'thiamin(mg)']

In [18]:
def reorganising_temp2(df): 
    df = df.dropna(axis = 1, thresh = 10)
    df = df.dropna()
    df['temp'] = ['']*df.shape[0]
    for i in range(df.shape[1]): 
        df['temp']+=df[df.columns[i]]
    useless = [i for i in range(0,df.shape[1]-1)]
    df.drop(df.columns[useless], axis = 1, inplace = True)
    df.dropna(inplace = True)
    df.temp = df.temp.apply(lambda x: x.replace('(', ' '))
    df.temp = df.temp.apply(lambda x: x.replace(')', ' '))
    df.temp = df.temp.apply(lambda x: x.replace('*', ' '))
    df.drop(df.index[[range(0,3)]], inplace = True)
    
    return df

In [19]:
def allocateNumbers2(df, yr):
    
    for i in range(0, len(nutrition2)): 
        df[nutrition2[i]] = df['temp'].apply(lambda x: x.split('... ')[1].split()[i*2])
        
    df['age'] = df[df.columns[0]].apply(lambda x: x.split('... ')[0].rstrip('...'))
    df['year'] = [yr]*df.shape[0]
    if int(yr.split('-')[0])<2011: 
        lst = race1
    else: lst = race2
    df['race'] = lst
    df.drop(['temp'], axis = 1, inplace = True)
    
    return df

In [20]:
raceNutrition2 =[]
for i in range(3, len(race)): 
    year = race[i].split('_')[0]+'-'+str(int(race[i].split('_')[0])+1)
    dfs = tabula.read_pdf(race[i], pages = 2)
    tempdf = reorganising_temp2(dfs[0])
    tempdf = allocateNumbers2(tempdf,year)
    raceNutrition2.append(tempdf)

/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [21]:
raceNutrition2 = pd.concat(raceNutrition2)

In [22]:
nutrition3 = ['riboflavin (mg)', 'niacin', 'vitamin B6 (mg)', 'folic acid (milg)', 'food folate (milg)',\
             'folate (DFE) (milg)', 'Choline (mg)', 'vitamin B12 (milg)']

In [23]:
def reorganising_temp3(df, ii): 
    
    df['temp'] = ['']*df.shape[0]
    df = df.dropna(axis = 1, thresh = 10)
    df = df.dropna()

    for i in range(df.shape[1]): 
        df['temp']+=df[df.columns[i]]
    useless = [i for i in range(0,df.shape[1]-1)]
    df.drop(df.columns[useless], axis = 1, inplace = True)
    df.dropna(inplace = True)
    df.temp = df.temp.apply(lambda x: x.replace('(', ' '))
    df.temp = df.temp.apply(lambda x: x.replace(')', ' '))
    df.temp = df.temp.apply(lambda x: x.replace('*', ' '))
    
    if int(ii) <5: 
        df.drop(df.index[[range(0,1)]], inplace = True)
    else: 
        df.drop(df.index[[range(0,3)]], inplace = True)
    
    return df

In [24]:
def allocateNumbers3(df, yr):
    
    for i in range(0, len(nutrition3)): 
        df[nutrition3[i]] = df['temp'].apply(lambda x: x.split('... ')[1].split()[i*2])
        
    df['age'] = df[df.columns[0]].apply(lambda x: x.split('... ')[0].rstrip('...'))
    df['year'] = [yr]*df.shape[0]
    if int(yr.split('-')[0])<2011: 
        lst = race1
    else: lst = race2
    df['race'] = lst
    df.drop(['temp'], axis = 1, inplace = True)

    return df

In [25]:
raceNutrition3 =[]
for i in range(3, len(race)): 
    year = race[i].split('_')[0]+'-'+str(int(race[i].split('_')[0])+1)
    dfs = tabula.read_pdf(race[i], pages = 3)
    tempdf = reorganising_temp3(dfs[0], i)
    tempdf = allocateNumbers3(tempdf,year)
    raceNutrition3.append(tempdf)

/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [27]:
raceNutrition3 = pd.concat(raceNutrition3)

In [28]:
nutrition4 = ['vitamin C (mg)', 'vitamin D (milg)', 'vitamin E (mg)', 'added vitamin E (mg)',\
             'vitamin K', 'calcium (mg)', 'phosphorus (mg)', 'magnesium (mg)']
nutrition5 = ['iron (mg)', 'zinc (mg)', 'copper (mg)', 'selenium (milg)', 'potassium (mg)',\
             'sodium (mg)', 'caffeine (mg)', 'theobromine (mg)']

In [29]:
def allocateNumbers4(df, yr):
    
    for i in range(0, len(nutrition4)): 
        df[nutrition4[i]] = df['temp'].apply(lambda x: x.split('... ')[1].split()[i*2])
        
    df['age'] = df[df.columns[0]].apply(lambda x: x.split('... ')[0].rstrip('...'))
    df['year'] = [yr]*df.shape[0]
    if int(yr.split('-')[0])<2011: 
        lst = race1
    else: lst = race2
    df['race'] = lst
    df.drop(['temp'], axis = 1, inplace = True)
    
    return df

In [30]:
def allocateNumbers5(df, yr):
    
    for i in range(0, len(nutrition5)): 
        df[nutrition5[i]] = df['temp'].apply(lambda x: x.split('... ')[1].split()[i*2])
        
    df['age'] = df[df.columns[0]].apply(lambda x: x.split('... ')[0].rstrip('...'))
    df['year'] = [yr]*df.shape[0]
    if int(yr.split('-')[0])<2011: 
        lst = race1
    else: lst = race2
    df['race'] = lst
    df.drop(['temp'], axis = 1, inplace = True)
    
    return df

In [31]:
def reorganising_temp3(df): 
    
    df['temp'] = ['']*df.shape[0]
    df = df.dropna(axis = 1, thresh = 10)
    df = df.dropna()
    for i in range(df.shape[1]): 
        df['temp']+=df[df.columns[i]]
    useless = [i for i in range(0,df.shape[1]-1)]
    df.drop(df.columns[useless], axis = 1, inplace = True)
    df.dropna(inplace = True)
    df.temp = df.temp.apply(lambda x: x.replace('(', ' '))
    df.temp = df.temp.apply(lambda x: x.replace(')', ' '))
    df.temp = df.temp.apply(lambda x: x.replace('*', ' '))
    df.drop(df.index[[range(0,2)]], inplace = True)
    
    return df

In [32]:
raceNutrition4 =[]
for i in range(3, len(race)): 
    year = race[i].split('_')[0]+'-'+str(int(race[i].split('_')[0])+1)
    dfs = tabula.read_pdf(race[i], pages = 4)
    tempdf = reorganising_temp3(dfs[0])
    tempdf = allocateNumbers4(tempdf,year)
    raceNutrition4.append(tempdf)
    
raceNutrition5 =[]
for i in range(3, len(race)): 
    year = race[i].split('_')[0]+'-'+str(int(race[i].split('_')[0])+1)
    dfs = tabula.read_pdf(race[i], pages = 5)
    tempdf = reorganising_temp3(dfs[0])
    tempdf = allocateNumbers5(tempdf,year)
    raceNutrition5.append(tempdf)

/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
/Users/dahyekim/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [40]:
raceNutrition4 = pd.concat(raceNutrition4)
raceNutrition5 = pd.concat(raceNutrition5)

In [45]:
lst = [raceNutrition1,raceNutrition2,raceNutrition3,raceNutrition4,raceNutrition5]

In [53]:
a=pd.merge(lst[0],lst[1], on = ['year','age','race'])
b=pd.merge(lst[2],lst[3], on =['year','age','race'])
c = pd.merge(a,lst[4], on =['year','age','race'])
finalTB = pd.merge(b,c, on =['year','age','race'])

In [54]:
finalTB

,riboflavin (mg),niacin,vitamin B6 (mg),folic acid (milg),food folate (milg),folate (DFE) (milg),Choline (mg),vitamin B12 (milg),age,year,...,lutein+zeaxanthin (milg),thiamin(mg),iron (mg),zinc (mg),copper (mg),selenium (milg),potassium (mg),sodium (mg),caffeine (mg),theobromine (mg)
0,1.82,14.2,1.29,153,116,376,196,4.12,2 -5,2007-2008,...,559,1.19,10.1,7.7,0.8,65.2,1901,2111,9.5,47.5
1,2.04,20.7,1.71,208,141,494,242,5.09,6 - 11,2007-2008,...,585,1.49,13.5,10.5,1.0,87.7,2065,2980,29.5,61.7
2,2.38,26.4,2.12,236,183,585,289,5.83,12 - 19,2007-2008,...,900,1.75,15.8,11.8,1.2,112.4,2404,3705,86.1,48.3
3,2.30,25.3,2.01,193,216,544,327,5.41,20 and over,2007-2008,...,1398,1.66,15.4,12.4,1.4,109.5,2720,3478,218.6,45.8
4,2.27,24.6,1.96,197,203,537,310,5.37,2 and over,2007-2008,...,1247,1.63,15.1,12.0,1.3,106.1,2600,3402,181.0,47.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1.64,16.5,1.57,173,132,427,240,4.24,2 -5,2017-2018,...,654,1.34,11.0,8.1,0.7,69.3,2072,2067,8.0,34.9
116,2.02,21.8,1.80,240,166,573,264,5.15,6 - 11,2017-2018,...,864,1.70,15.3,10.2,0.9,97.5,2267,2908,17.0,61.0
117,1.81,23.4,1.85,208,173,526,262,4.62,12 - 19,2017-2018,...,786,1.58,14.3,9.8,1.0,101.3,2146,3150,35.9,32.2
118,2.03,26.4,2.26,171,234,524,357,4.80,20 and over,2017-2018,...,1648,1.64,14.8,11.5,1.3,120.5,2706,3603,115.8,26.3
119,1.96,24.8,2.10,184,211,522,325,4.77,2 and over,2017-2018,...,1365,1.62,14.5,10.8,1.1,111.4,2531,3350,85.7,31.4

In [55]:
finalTB.to_csv('US_Nutrtion_Race.csv', index = False)